* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.custom-col-2 {
  margin: 0;
  padding: 0;
}

.custom-col-2 input {
  width: 130px;
}

.custom-errors {
  color: red;
}

.custom-errors::before {
  content: "* ";
}
